body 
{ 
	background-color: white;
	color: black;
}

a.anchor
{	
	display: block; 
	position: relative; 
	top: -60px; 
	visibility: hidden;
}

.navigation
{
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 60px;
	top: 0px;
	left: 0px;
	background-color: red;
	overflow: hidden;
}

.navigationInner
{
	position: relative;
	width: 100%;
	height: 60px;
	top: 50%;
	left: 50%;
	background-color: red;
	overflow: hidden;
	margin-top: -30px;
	margin-left: -500px;
}

.navigationInner ul
{
	list-style-type: none;
	padding: 0;   
	overflow: auto;
}

.navigationInner li
{
	float: left;
}

.navigationInner a:link,.navigationInner a:visited
{
	display: block;
	width: 150px;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #0066CC;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 15px;
	margin: 4px;
}

.navigationInner a:hover,.navigationInner a:active
{
	background-color: #0052A3;
}

.content
{
	position: absolute;
	top: 75px;
	left: 50%;
	margin: 0px 0px 0px -400px;
	max-width: 800px;
	z-index: 1;
}