div.content
{
	z-index: 1;
	position: absolute;
	top: 40px;
	width: 98%;
} 

p
{
	font-size: 3em;
}

h1
{
	font-size: 3em;
}

h2
{
	font-size: 3em;
}

td
{
	font-size: 3em;
}

div.side
{
	display: none;
}

a.anchor
{
	position: relative;
	top: -60px;
}
