.content
{
	z-index: 1;
	position: absolute;
	top: 77px;
	margin: 0px 0px 0px 0px;
	width: 98%;
} 

p
{
	font-size: 2em;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 2em;
}

td
{
	font-size: 2em;
}

img.side
{
	display: none;
}
