div.content
{
	z-index: 1;
	position: absolute;
	top: 40px;
	width: 98%;
} 

p
{
	font-size: 2em;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 2em;
}

td
{
	font-size: 2em;
}

div.side
{
	display: none;
}

a.anchor
{
	position: relative;
	top: -60px;
}

img#navigationIcon
{
	position: fixed;
	right: 10px;
	top: 8px;
	height: 2em;
}