.navigation
{
	z-index: 2;
	position: fixed;
	width: 1328px;
	height: 60px;
	background-color: white;
	top: 0px;
	left: 50%;
	margin-left: -664px;
}  

a.anchor
{	
	display: block; 
	position: relative; 
	top: -60px; 
	visibility: hidden;
}