.navigation
{
	z-index: 2;
	position: fixed;
	background-color: white;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.navigationTop div
{
	z-index: 2;
	position: fixed;
	background-color: white;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}