.navigation
{
	z-index: 3;
	position: fixed;
	width: 664px;
	height: 96px;
	background-color: white;
	top: 0px;
	left: 50%;
	margin-left: -332px;
} 

.navigationBackground
{
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 96px;
	background-color: white;
	top: 0px;
	left: 0px;
} 

a.anchor
{	
	display: block; 
	position: relative; 
	top: -96px; 
	visibility: hidden;
}