.navigation ul
{
	list-style-type: none;
	padding: 0;   
	overflow: auto;
}

.navigation li
{
	float: left;
}

.navigation a:link,.navigation a:visited
{
	display: block;
	width: 150px;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	font-size: 12pt;
	color: #FFFFFF;
	background-color: #003162;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 15px;
	margin: 4px;
}

.navigation a:hover,.navigation a:active
{
	background-color: #0066CC;
} 
