.navigation
{
	z-index: 2;
	position: fixed;
	width: 664px;
	height: 84px;
	background-color: white;
	top: 0px;
	left: 50%;
	margin-left: -332px;
} 

a.anchor
{	
	display: block; 
	position: relative; 
	top: -84px; 
	visibility: hidden;
}