.navigation ul,.navigationTop ul
{
	list-style-type: none;
	padding: 0;   
}

.navigation a:link,.navigation a:visited,.navigationTop a:link,.navigationTop a:visited
{
	display: block;
	width: 100%;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #003162;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 15px;
	margin: 4px;
}

.navigation a:hover,.navigation a:active,.navigationTop a:hover,.navigationTop a:active
{
	background-color: #0066CC;
} 
