body {
    background-color: #f0f7ff;
    color: black;
    font-size: 1em;
    font-family: Georgia, serif;
}

p {
    text-align: justify;
    font-family: Georgia, serif;
    line-height: 1.4em;
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
}

h2 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: #FFFFFF;
    background-color: #0066CC;
    padding: 8px;
    text-decoration: none;
    margin-top: 50px;
    font-size: 30px;
}

h3 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
    margin-top: 40px;
    font-size: 22px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
}

td {
    text-align: center;
    font-family: Georgia, serif;
    padding: 3px;
    border-left: 2px solid #969696;
}

td.bigColumn {
    width: 500px;
}

td:first-child {
    border-left: none;
}

th {
    text-align: center;
    font-family: Georgia, serif;
    padding: 3px;
    border-left: 2px solid #969696;
}

th:first-child {
    border-left: none;
}

tr.header {
    border-bottom: 2px solid #969696;
    color: black;
    background-color: #FFFFFF;
}

tr.odd {
    color: black;
    background-color: #FFFFFF;
}

tr.even {
    color: black;
    background-color: #c3dffa;
}

a.anchor {
    display: block;
    visibility: hidden;
}