h2 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: #FFFFFF;
    background-color: #0066CC;
    padding: 8px;
    text-decoration: none;
    margin-top: 50px;
    font-size: 16px;
}

h3 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
    margin-top: 40px;
    font-size: 14px;
}

p {
    text-align: justify;
    font-family: Georgia, serif;
    line-height: 1.4em;
    font-size: 12px;
}