div#header {
    height: 200px;
    position: relative;
}

div#headerContent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
}

div#portrait {
    flex: auto;
}

img#portrait {
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div#headerRight {
    flex: 80%;
}

div#quote {
    font-size: 1.5em;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

div#headerLinks {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

div#headerBackground {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

img#headerBackground {
    position: absolute;
    bottom: 0px;
    width: 100%;
    opacity: 0.2;
}

ul#headerLinks {
    list-style-type: none;
}

li.headerLinkItem {
    float: left;
    margin-right: 10px;
    font-size: 18px;
}

li.headerLinkItem a {
    text-decoration: none;
    color: black;
}

li.headerLinkItem a:hover {
    color: gray;
}

img.headerLogo {
    height: 18px;
}

div#quote p {
    text-align: center;
    font-style: italic;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#title {
    margin-top: 50px;
}