div#navigation {
    height: 48px;
    background-color: #0066CC;
}

ul#navigation {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: stretch;
    justify-content: space-between;
}

li.navigationItem {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

li.navigationItem a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-family: Helvetica, sans-serif;
}

li.navigationItem a:hover {
    background-color: #0055BB;
} 