div#navigation {
    height: 50px;
    background-color: #0066CC;
}

ul#navigation {
    list-style-type: none;
}

li.navigationItem {
    float: left;
    font-size: 25px;
}

li.navigationItem a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-family: Helvetica, sans-serif;
}

li.navigationItem a:hover {
    background-color: #0055BB;
}