div.navigation
{
	position: fixed;
	top: 0px;
	left: calc(((100% - 700px)/2 - 240px)/2);
	display: inline;
	width: 240px;
}

.navigation a:link,.navigation a:visited
{
	display: block;
	width: 100%;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #003162;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 15px;
	margin: 4px;
}

.navigation a:hover,.navigation a:active
{
	color: white;
	background-color: #0066CC;
}

div#navigationTopContainer
{
	display: none;
}

li
{
	font-size: 1em;
}