div#navigation {
    background-color: #0066CC;
}

ul#navigation {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

li.navigationItem {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

li.navigationItem a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Helvetica, sans-serif;
}

li.navigationItem a:hover {
    background-color: #0055BB;
} 