.youtube-player {
	height: 360px;
	width: 480px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.youtube-player img {
    height: 100%;
    width: auto;
}

div#youtubePlay {
    background-image: url("../pic/play.png");
    position: absolute;
    width: 50px;
    height: 35px;
    left: 215px;
    top: 162px;
    z-index: 2;
}

.frame-player {
    height: 360px;
    width: 480px;
}